* {
    box-sizing: border-box;
}

nav {
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
}

nav li {
    display: inline;
    type: none;
}

body {
    background-image: url(./img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 50%;
    margin: auto;
}

aside {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: rgb(49, 49, 247);
}

article {
    float: left;
    width: 70%;
    padding: 10px;
    background-color: whitesmoke;
}

footer li {
    display: inline;
    type: none;
}