* {
    box-sizing: border-box;
    margin: 5px;
}

nav {
  
    font-size: 18px;
    margin: auto;
    padding: 5px;
    text-align: center;

}

nav li {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
    padding: 10px;
    border-radius: 20px;
}

body {
    background-image: url(./img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 60%;
    margin: auto;
}

aside {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: rgba(49, 49, 247, 0.8);
    height: auto;
    border-radius: 10px;
}

img {
    display: block;
    margin: auto;
}

article {
    float: left;
    width: 60%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

footer li {
    display: inline-block;
    list-style-type: none;
}

h1 {
text-align: center;
font-size: 150%;
}

h2 {
text-align: center;
}
