* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}


body {
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav {
  display: flex;
}

nav > li {
  width: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  
} 

section {
 display: grid;
 width: 80%;
 grid-column-gap: 50px;
 margin: auto;
}



aside {
  display: table-cell;
  padding: 10px;
  background-color: rgba(2, 0, 143, 0.822);
  width: 30%;
  float: left;
  border-radius: 10px;
  color: whitesmoke;
}


article {
  display: table-cell;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 60%;
  float: left;
}



footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  }

footer li {
  list-style-type: none;
} 
