* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
}

body {
  background-image: url(../img/back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 50%;
  flex-flow: row wrap;
  margin: auto;
}

nav a {
  margin: auto;
  color: #000000;
  background-color: rgba(255, 254, 254, 0.8);
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}

#photo {
  border-radius: 30%;
  width: 200px;
}

nav a:hover {
  background-color: #4caf50;
  color: white;
}

section {
  display: flexbox;
  width: 80%;
  margin: 5px auto;
  content: "";
  display: table;
  clear: both;
}

section #main {
  clear: both;
}

aside {
  background-color: rgba(38, 0, 255, 0.8);
  border-radius: 20px;
  padding: 0 20px;
  color: whitesmoke;
  float: left;
  width: 25%;
  margin: 0 20px 0 0;
  text-align: center;
  height: 100%;
}

article {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  float: left;
  width: 65%;
  height: 100%;
}

footer {
  width: 30%;
  background-color: rgba(245, 245, 245, 0.582);
  border-radius: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

footer a {
  margin: auto;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
